body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    overflow: hidden;
}

#graphContainer {
    padding: 10px;
    float: left;
}

#evalButton {
    padding: 10px;
}

#resetButton {
    padding: 10px;
}

#showShapesButton {
    padding: 10px;
}