p {
    text-align: center;
    font-size: 15px;
}

#prank {
    font-size: 10px;
    font-style: italic;
}

h1 {
    text-align: center;
    font-style: italic;
}

h3 {
    text-align: center;
    font-style: italic;
}