body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    overflow: hidden;
}

#graphContainer {
    padding: 10px;
    float: left;
}

.button {
    background-color: green;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 5px;
    border-radius: 8px;
    display: block;
    width: 20%;
}

.eval {padding: 10px;}
.reset {padding: 10px;}
.toggle {padding: 10px;}